<div class="container contents-list">
	<div class="row">
		<h1 class="col-sm-9">Contents</h1>
		<div class="col-sm-3 item-header-button">
			<a ui-sref="item.create" class="btn btn-default">Create new content</a>
		</div>
	</div>
	<div class="row">
		<ul class="content">
			<li class="content-item" ng-repeat="content in contents">
				<div class="content">
					<h4>{{content.title}}</h4>
					<h4 ng-bind-html="content.content | limitTo: 500 | nl2br | html"></h4>
				</div>
				<div class="footer row">
					<div class="col-sm-6">
						<span class="btn btn-default" ng-repeat="tag in content.tags">{{tag}}</span>
					</div>
					<div class="col-sm-6">
						<span>{{content.answer}} Responses</span>
						<a ui-sref="item.edit({id: content.id})" class="btn btn-default">Edit</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>