<div class="row">
	<form name="form" ng-submit="register(form)">
		<div class="form-group">
			<label>Username</label>
			<input type="text" name="username" ng-model="username" required class="form-control">
		</div>
		<div class="form-group">
			<label>Phone number</label>
			<input type="text" name="phone" ng-model="phone" required class="form-control">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" name="email" ng-model="email" required class="form-control">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" name="password" ng-model="password" required class="form-control">
		</div>
		<div class="form-group">
			<label>Type</label>
			<select ng-model="type" required class="form-control">
				<option value="1">Content creator</option>
				<option value="2">Reader</option>
			</select>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Register</button>
		</div>
	</form>
	<a ui-sref="login">Click here to login</a>
	<a ui-sref="forgotPw">Forgot password?</a>
</div>